<ion-content class = 'background' padding>

    <ion-input class = 'email' placeholder="Masukan Email"> 
        <ion-icon name="mail-open-outline" ></ion-icon>
    </ion-input>
    <ion-input class = 'password' placeholder="Masukan Password" type="password">
        <ion-icon name="key-outline"></ion-icon>
    </ion-input>
    <ion-text class = "lupa" href="https://www.w3schools.com/">Lupa kata sandi?</ion-text>
    <ion-button class = "Login" href="/menu">Masuk</ion-button>
    <ion-label><ion-text class= "daftar">Belum memiliki akun? <a href="/daftar">Daftar</a></ion-text></ion-label>
</ion-content>
