
ion-searchbar{
    --background:white;
    color : #375D81;
    width : 90%;
    left:5%;
    top : 1%;
}
div.slider{
    position: relative;
    top:1%;
ion-slides{
    img{
        border-radius:20px;
    }
}
}

ion-item{
    top : 10px;
    height : 70px;
}
div.button{
    img{
        width: 30%;
    }

    ion-label{
        font-size:8px;
    }

}

div.pesanan{
    position: relative;
    top: -15px;   
    ion-card{
        --border-radius:10px;
    }
    ion-card-header{
        height : 20px;
        background: none;
    }
    ion-card{
        height : 100px;
    }
    ion-card-footer{
        height : 20px;
        background: none;
    }
}

div.bawah{
    position: bottom;
}