<ion-content class = 'bg' padding> 
<ion-text class='daftar'><u>Daftar</u> </ion-text>


<ion-item class='test'>
  <ion-label ></ion-label>
  <ion-icon name="person-outline" color ='#375D81'></ion-icon>
  <ion-input placeholder="Nama Pengguna"></ion-input>
</ion-item>
<ion-item class='test'>
  <ion-label ></ion-label>
  <ion-icon name="mail-open-outline" color ='#375D81'></ion-icon>
  <ion-input placeholder="E-mail"></ion-input>
</ion-item>
<ion-item class='test'>
  <ion-label ></ion-label>
  <ion-icon name="call-outline" color ='#375D81'></ion-icon>
  <ion-input placeholder="Nomor Telepon"></ion-input>
</ion-item>
<ion-item class='test'>
  <ion-label ></ion-label>
  <ion-icon name="key-outline" color ='#375D81'></ion-icon>
  <ion-input placeholder="Password" type="password"></ion-input>
</ion-item>
<ion-item class='test'>
  <ion-label ></ion-label>
  <ion-icon name="lock-closed-outline" color ='#375D81'></ion-icon>
  <ion-input placeholder="Konfirmasi Password" type="password"></ion-input>
</ion-item>

<ion-button class = "daftar" href="/menu">Registrasi</ion-button>
</ion-content>
