<ion-header>
  <ion-toolbar>
    <ion-title>Pesanan</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

</ion-content>

<div class="bawah">
  <ion-footer>
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">

          <ion-tab-button href="/menu">
            <ion-icon name="home"></ion-icon>
            <ion-label >Beranda</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="calendar">
            <ion-icon color= "primary" name="book-outline"></ion-icon>
            <ion-label color= "primary">Pesanan</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="mic">
            <ion-icon size ="large" color="red" name="mic-outline"></ion-icon>
          </ion-tab-button>
      
          <ion-tab-button href="/riwayat">
            <ion-icon name="receipt-outline"></ion-icon>
            <ion-label>History</ion-label>
          </ion-tab-button>
      
          <ion-tab-button href="/profile">
            <ion-icon name="person"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>  
    </ion-toolbar>
  </ion-footer>
</div>